.winnings {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-padding: 10;
}

.subtitle {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.card {
    -fx-font-size: 24px;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-padding: 20;
    -fx-background-color: white;
    -fx-min-width: 60px;
    -fx-alignment: center;
}

.button {
    -fx-background-color: #3498DB;
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.button:hover {
    -fx-background-color: #2980B9;
}